
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Storage states
/admin-auth.json
/user-auth.json
/admin-token.json
/user-token.json
